<h1>{{ "translation.title" | translate }}</h1>
<p>{{ "translation.description" | translate }}</p>
<h2>{{ "translation.step1_title" | translate }}</h2>
<p>{{ "translation.step1_description" | translate }}</p>
<div class="container__code">
  <code> {{ "translation.install" | translate }} </code>
</div>
<h2>{{ "translation.step2_title" | translate }}</h2>
<p>{{ "translation.step2_description" | translate }}</p>
<div class="container__code">
  <pre> {{ "translation.step2_code" | translate }} </pre>
</div>
<h2>{{ "translation.step3_title" | translate }}</h2>
<p>{{ "translation.step3_description" | translate }}</p>
