<h1>Fundamentos de angular</h1>

<h2>Que es angular?</h2>

<p>
  Angular es un framework de desarrollo de aplicaciones web que permite crear
  aplicaciones de alto rendimiento y escalabilidad. Es un framework de
  JavaScript que utiliza componentes para construir la interfaz de usuario de
  una aplicación y proporciona un modelo de programación orientado a objetos
  para crear y mantener la lógica de la aplicación.
</p>

<h2>Componentes y Templates</h2>

<h3>{{ "component.lifecycle.title" | translate }}</h3>
<span [innerHTML]="'component.lifecycle.content' | translate"></span>

<h3>Creación y estructuración:</h3>

<p>Uso de decorador Component. Definición de templates en línea y externos.</p>

<h2>Directivas</h2>

<h3>Estructurales:</h3>

*ngIf, *ngFor, *ngSwitch.

<h3>Atributos:</h3>

Creación de directivas personalizadas con decorador Directive.

<h2>{{ "component.binding.title" | translate }}</h2>
<span [innerHTML]="'component.binding.content' | translate"></span>

<h2>Pipes</h2>

Uso de pipes integrados como date, currency, async. Creación de pipes
personalizados con Pipe.

<h2>Inyección de Dependencias (DI)</h2>

Uso de Injectable para crear servicios. Proveedores en niveles de módulo y
componente.

<h2>Módulos</h2>

Creación de módulos con NgModule. Configuración de AppModule, feature modules, y
shared modules.
