<h1>Fundamentos de angular</h1>

<h2>Que es angular?</h2>

<p>
  Angular es un framework de desarrollo de aplicaciones web que permite crear
  aplicaciones de alto rendimiento y escalabilidad. Es un framework de
  JavaScript que utiliza componentes para construir la interfaz de usuario de
  una aplicación y proporciona un modelo de programación orientado a objetos
  para crear y mantener la lógica de la aplicación.
</p>

<h2>Componentes y Templates</h2>

<h3>Ciclo de vida de los componentes:</h3>

<ol>
  <li>Inicialización del componente.</li>
  <li>ngOnChanges: Responde a cambios en las</li>
  <li>propiedades de entrada.</li>
  <li>ngDoCheck: Detecta cambios manuales.</li>
  <li>
    ngAfterContentInit: Ejecutado después de que el contenido proyectado sea
    inicializado.
  </li>
  <li>
    ngAfterContentChecked: Llamado después de verificar el contenido proyectado.
  </li>
  <li>
    ngAfterViewInit: Llamado después de inicializar las vistas del componente.
  </li>
  <li>
    ngAfterViewChecked: Llamado después de verificar las vistas del componente.
  </li>
  <li>ngOnDestroy: Limpieza de recursos.</li>
</ol>

<h3>Creación y estructuración:</h3>

<p>Uso de decorador Component. Definición de templates en línea y externos.</p>

<h2>Directivas</h2>

<h3>Estructurales:</h3>

*ngIf, *ngFor, *ngSwitch.

<h3>Atributos:</h3>

Creación de directivas personalizadas con decorador Directive.

<h2></h2>
Binding de datos Interpolación: variable. Property binding: [property]="value".
Event binding: (event)="handler()". Two-way binding: [(ngModel)]="variable".

<h2>Pipes</h2>

Uso de pipes integrados como date, currency, async. Creación de pipes
personalizados con Pipe.

<h2>Inyección de Dependencias (DI)</h2>

Uso de Injectable para crear servicios. Proveedores en niveles de módulo y
componente.

<h2>Módulos</h2>

Creación de módulos con NgModule. Configuración de AppModule, feature modules, y
shared modules.
